@model CloudMnD2._0.Models.ExceptionModel
@{
    ViewData["Title"] = "GenerateException";
}

<h1>GenerateException</h1>

<h3>@Html.DisplayFor(model =>model.NumberOfExceptions) exceptions was generated</h3>
